@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<select asp-items="Model.Categories" class="form-control mb-4"></select>
<select asp-items="Model.Authors" class="form-control mb-4"></select>

<div class="row mx-md-n2">
    @foreach (var item in Model.Products)
    {
        <div class="col-md-3 px-md-2 mb-3">
            <div class="product-image-wrapper">
                <img src="~/img/@item.PictureUri" class="product-image" />
            </div>
            <div class="product-name">
                @item.Name
            </div>
            <div class="author-name">
                @item.AuthorName
            </div>
            <div class="product-price">
                @item.Price.ToString("c2")
            </div>
        </div>
    }
</div>
