@model BasketItemsCountViewModel

<a asp-controller="Basket" asp-action="Index" class="btn btn-sm btn-success ml-1">
    <i class="fas fa-shopping-basket"></i> Cart
    <span class="badge bg-white text-dark " id="navBasketItemsCount">@Model.BasketItemsCount</span>
</a>